#accordion {
    color: white;
    font-family: Copperplate, 'Courier New', fantasy, serif;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    border: 0px solid gold;
    border-radius: 6px;
    padding: 10px;
}

/* Accordion header styling */
#accordion .ui-accordion-header {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid rgba(255, 217, 0, 0.637);
    font-family: Copperplate, 'Courier New', fantasy, serif;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
}

/* Accordion content styling */
#accordion .ui-accordion-content {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid rgba(255, 217, 0, 0.637);
    font-family: Copperplate, 'Courier New', fantasy, serif;
    font-size: 18px;
    padding: 15px;
}
#accordion .ui-accordion-content p {
    color: white;
    font-family: Copperplate, 'Courier New', fantasy, serif;
    font-size: 20px;
}




